@import "https://fonts.googleapis.com/css?family=Raleway:100,300,600";
/* 480
736
980
1280
1680 */
html { height: 100%;}
*{
    box-sizing: border-box;
}

body {width: 100%;
      background-color: white;
      color:#9a9a9a;
      font-family: "Raleway", Arial, Helvetica, sans-serif;      margin: 0px;
    font-size: 16px;}
   
    h1,
    p
    {
        text-align: center;
        margin: 0 0 2rem 0;

    }
    h2, h3, h4, h5, h6 { 
        color: #5385C1;
        font-weight: normal;
        margin: 0 0 1rem 0;
    }
    .inner
{
    display: flex;
    
}
/* header */

/* article header */
.big-header p
{
    text-align: center;
}
/* prime header */
#header
{
    
        position:absolute;
        width: 100%;
        
    
}
#header .inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}



.inner > .logo{
    text-decoration: none;
    font-weight: 600;
    padding: 2rem;
    color: white;
}

 #nav {
display: none;
    }

/* banner */
#banner
{
    padding:6rem 1.5rem 6rem 1.5rem;
    background-image: url(banner.jpg);
    background-size: cover;
    border-top: 0.5em solid #5385c1;
}

#banner h1
{
font-size: 3.5rem;
font-weight: 100;
color: #fff;
}

#banner p{
    font-size: 0.9rem;
}

/* sections   */
#one,
#two,
#three
{
    text-align: center;
    width: 100%;
    padding: 2rem 0 2rem
    
}
#one h3,
#three h3
{
    font-size: 1.35em;
    color:#5385C1 ;
    font-weight: normal;
    margin: 0 0 1rem 0;
}
#one .inner,
#two .inner,
#three .inner
{
    margin: 0 2.2rem;
    display: block;
}
#two {
    background-color: #5385c1;
}
 #two .inner h2,
 #two .inner h3,
 #two .inner p
 {
    color: white;
    font-weight: 100;
}


#two .inner
{
    display: block;
}
#three .article-1{
    border: none;
    
}

/* articles  */
.article-1{ 
            margin-bottom: 3rem;
            border-bottom: 1px solid gray;
            padding-bottom: 3rem;
}

.box.person
{
    padding: 3rem 1.5rem;
    margin-bottom: 2rem;
    border:  solid .5px  white;  
}

.button.special 
 { 
    background-color: #5385c1;
    color: white;
    padding: 0.4rem 0;
    text-decoration: none;
    margin-bottom: 3rem;
    display: block;
}
/* image */
.image.fit img
{
    width: 100%;
    margin-bottom: 2rem;
}
.image.round img{
    border-radius: 100%;

}


/* footers */
/* article footers */
footer{
    
    display: block;
}

#footer {
    padding-top: 1.8rem;
    margin: 0 2.4rem 1.52rem 1.52rem;
    border-top: 1px solid rgba(153, 149, 149);
    text-align: center;
    font-size: 0.9rem;
    }

.copyright a {
    color: #bbb;
    text-decoration: none;
}



/* media */





/* 736 */

/* articles */
@media screen and (min-width:736px)
{
    
    .image.round
    {
        margin-bottom: 1rem;
    }
   .box.person
    {
        width: calc((100% - 2rem)/2);
      
    }

     .button.special 
    {
        background-color: #5385c1;
        color: white;
        padding: 0.4rem 1.5rem;
        text-decoration: none;
        margin-bottom: 3rem;
        display: inline-block;

    }

        .article-1{
        text-align: left;
    }
}
/* sections */
@media  screen and (min-width: 736px)
    {
        .row-3 p,
        .row-3 h3,
        #one .inner p,
        #one .inner h3,
        #three .inner h3

    { 
     text-align: left;
     }

    .row-2, .row-3
    {
            display:flex;
            justify-content: space-between;
            flex-wrap: wrap;
       
            
    } 
}
/* 980 */
@media  screen and (min-width: 980px)
{
    h2
    {
        font-size: 2.75rem;
    }
    
}
@media screen and (min-width:980px)
{
    #one .inner,
    #two .inner,
    #three .inner
    {
        margin: 0 3rem;
    }
 }

/* 1280 */
@media screen and (min-width:1280px)
{
    body{
        font-size: 14px;
    }
}
@media screen and (min-width:1280px)
{
    #nav,  
    #nav a 

    {
        display: flex;
        text-decoration: none;
         font-weight: 600;
        padding: 1rem;
        color: white;

    }

}

@media screen and (min-width:1280px)
{
    #one .article-1
    { 
        border-right: 1px solid gray;
        border-bottom: none;   
        padding-left: 3rem; 
        margin-bottom: 0; 
        padding-bottom: 0;
        
    }
    #three .article-1{
       
        width: 50%;
        margin-right: 2rem;
        padding: 0rem;
    
    }


    
}




@media screen and (min-width:1280px)
{
    #one .inner,
    #two .inner,
    #three .inner
    {
        margin: 0 4rem;
    }
    
}

@media screen and (min-width:1280px)
{
    #one .inner .row-1
     {
    display: flex;
    justify-content: space-between;

    }
    #one .inner .row-1,
    #three .inner .row-3
    {
        width: calc((100% - 2rem));

    }
    #two header
    {
        margin-bottom:4rem;
        }
    

    @media screen and (min-width:1280px)
    {#one,
        #two,
        #three
        {
        padding: 5.5rem 0 5.5rem}
    
    }
    .row-3{
        flex-wrap: nowrap;
    }
    



    
@media screen and (min-width:1280px)
{
   
    
    #two .box.person
    {
        width: calc((100% - 8rem)/4);
      
    }
            
        
 } 
 
@media screen and (min-width:1280px)
{
    .big-header{
        margin-bottom: 5rem;
    }
}
/* 1680 */  