@import "https://fonts.googleapis.com/css?family=Raleway:100,300,600";
html { height: 100%;}

* { box-sizing: border-box;}

body {width: 100%;
      color:rgb(153, 149, 149);
      margin: 0;
    font-size: 16px;
    font-family: "Raleway", Arial, Helvetica, sans-serif;}

section,
header,
footer {width: 100%;}

.header-1 { width: 100%;
    background-color: #5385c1;

}

.theory { display: flex;
        margin: 0rem 1.4rem;
        justify-content: space-between;
        padding: 0.7rem;
        color: white;
        }

.nav { display: none;}
.title { font-weight: bold;}

.section-header-container { display: flex;
                            flex-direction: column;
                            margin: auto;
                            text-align: center;
                            width: 85%;
                            padding-top: 2rem;
}

.elements {margin: 0rem 0rem 1.8rem 0rem;
              font-size: 1.8rem;
            font-weight: lighter;  }
.little { margin-top: 0rem;
            font-size: 0.9rem;}

p {
    line-height: 1.9rem;
    text-align: center;
    margin: 0rem 0rem 2rem 0rem;
    }

h3 { font-size: 1.4rem;
    margin-top: 0rem;}

.elements1 { font-weight: lighter;
        font-size: 2rem;
        margin: 0rem;
    }

.content { display: flex;
            flex-direction: column;}

h2, h3, h4, h5, h6 { color: rgb(44, 125, 175);
        font-weight: normal;
        text-align: center;
 }
.withborder { border-bottom: 0.05rem solid rgb(153, 149, 149);
            padding-bottom: 2rem;}
/* .line {margin: 0rem 2.5rem;
        border-color: rgb(153, 149, 149);} */

.list { margin-top: 4rem;}
.row2 { 
    margin: auto;
    text-align: center;
    width: 85%;
}
.h4big { font-size: 1.1rem;}

dt { font-weight: bold;
    margin: 0rem 0rem 1rem 0rem;
    text-align: center;
}

blockquote { line-height: 1.9rem;
    font-style: italic;
    border-left: solid rgb(153, 149, 149);
    border-width: 0.3rem;
    margin: 0rem 0rem 1.9rem 0rem;
    padding-left: 3.2rem;
}


.actions { display: flex;
    flex-direction: column;
    margin-bottom: 1.3rem;
        
}

.fitgroup {display: flex;
            width: 100%;
            justify-content: space-between;}
            

.fitgroup.fitgroup1 > div { 
        width: calc((100% - 2rem) / 3);
        
}

.small .fitgroup.fitgroup1 > div { 
    width: calc((100% - 1rem) / 3);
    height: 2rem;
    font-size: 0.6rem;
    margin-bottom: 1rem;
}

.actions .button.disabled { background-color: lightgray;
                            color: white; }

.button { text-decoration: none;
    background-color: #5a5a5a;
    color: white;
    display: block;
    margin-bottom: 1rem;
    padding: 0.8rem 0rem;
    font-weight: bolder;
}

.button.special {  background-color: rgb(44, 125, 175);
                    color: white;  
}

.button.alt {
    background-color: #fff;
    border: 0.2rem solid #dbdbdb;
    color: black;
    padding-bottom: 0.3rem;

}

.button.special.big { padding: 1.3rem 0rem;
                    font-size: 1.3rem;}

.button.alt.small {padding: 0.6rem 0rem;
                    font-size: 0.6rem;}


p span img {width: 35%;
        }
.left img {float: left;
                margin: 0.6rem 1.3rem 1.3rem 0.6rem;  }
.right img {float: right;
            margin: 0.6rem 1.3rem 1.3rem 0.6rem; }
.box { border: solid  rgb(153, 149, 149);
                border-width: 0.1rem;
                padding: 1.5rem 1.5rem 0rem 1.5rem;
                margin-bottom: 3rem; }

.copyright { margin: auto;
            width: 85%;
            padding: 2rem 0rem 1rem 0rem;
            border-top: 0.05rem solid rgb(153, 149, 149);
            font-size: 0.8rem;
            text-align: center;
            color: rgb(207, 202, 202);
}



header nav { width: 1.3rem;}


.hamburger {
    width: 100%;
    height: 0.2rem;
    background-color: white;
    border-radius: 0.2rem;
    position: relative;

}

.hamburger::before {
    content: '';
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: white;
    bottom: 0.3rem;
    position: absolute;
    border-radius: 0.2rem;
}

.hamburger::after {
    content: '';
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: white;
    top: 0.3rem;
    position: absolute;
    border-radius: 0.2rem;
}
a:hover {color: red;}

@media screen and (min-width: 481px){

    p,h2,h3,h4,h5,h6,blockquote,dt {text-align: left;
                                } 

    .actions { display: flex;
                flex-direction: row;
                justify-content: start;
    }
    .actions > div { flex: 1;
                    margin: 0rem 0.6rem;
                    
    }

    .actions.fitgroup1  div { flex: 1;
        margin: 0rem 0.6rem;
        
}

    .smaller {width: 20.5rem;}
    .smallest {width: 18.5rem;
            align-items: center;}
    
    #centeralways { display: flex;
                    flex-direction: column;
                    align-items: center;

    }
    nav .hamburger {display: none;}
}

@media screen and (min-width: 737px){
        .responsive1 {display: flex;
                      width: 100%;  
        }
        .responsive1a { padding-left: 1.5rem;
                       }
        
        #centeralways { margin-bottom: 2rem;}
        .elements1 { font-size: 2.8rem;}
}

@media screen and (min-width: 981px) {

    .row2 { display: flex;
            flex-direction: row;

    }
    .row2 > div { flex: 1;}

    .list { margin-right: 2.5rem;}
    .nav {display: flex;
        width: 100%;
        justify-content: flex-end;}
    
    nav a { color: white;
            text-decoration: none;
            padding: 0.5rem;
            font-size: 0.7rem;}

    .buttons {padding-top: 8rem;}
    .elements1 { font-size: 2.5rem;}
    .elements { font-size: 1.6rem;}
    p { font-size: 0.9rem;}
    h3 { font-size: 1.2rem;}
    #centeralways { margin: 2rem 0rem;}
    .responsive2 { display: flex;}
    .responsive2a { padding-left: 1.5rem;}
    .responsive2b { padding-left: 1.5rem;}      
    

    
}

@media screen and (min-width: 1285px) {

    .section-header-container,
    .row2,
    .copyright,
    .theory { width: 75%;
            margin: auto;}
}