@import "https://fonts.googleapis.com/css?family=Raleway:100,300,600";
html { height: 100%;
}

* { box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;}

body { width: 100%;
    font-size: 16px;
    color: #5385c1;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    margin: 0;
}
nav { display: none;
}

header,
section { width: 100%;
         text-align: center;} 

#header { position: relative;
          }

#firstheader { position: absolute;
                padding: 2rem;
                width: 90%;
}


#firstheader > .logo { text-decoration: none;
                color: white;
                padding: 1rem;
                font-weight: bold;}


#secondheader { padding: 6rem 1.5rem 4rem 1.5rem;
        background-image: url(banner.jpg);
        background-size: cover;
        color: white;
        border-top: 0.5rem solid #5385c1;
            
}

#secondheader p { font-size: 0.9rem;
                color: rgba(255,255,255,0.55)
            }
#secondheader h1 {font-size: 2.5rem;
        font-weight: 100;
        margin-bottom: 1.2rem;}


/* img { width: 35%;} */

p {margin-bottom: 2rem;
    color: #9A9A9A;
    line-height: 1.5rem;}


.button { text-decoration: none;
    background-color: #5385c1;
    color: white;
    display: block;
    padding: 0.7rem 0rem;
    font-weight: bold;
    
    }
 .withborder { padding-bottom: 2.5rem;
        border-bottom: 0.05rem solid rgb(153, 149, 149);
        margin: 0 0 3rem;} 

.section { padding: 2rem 0rem;
            width: 90%;
            margin: auto;
            }

.section1 h3 { font-weight: normal;
    font-size: 1.3rem;
    margin: 0 0 1.5rem;}

.section2 { background-color: #5385c1;
            color: white;
}

.section2 header p {color: white;
            font-weight: lighter;
            font-size: 0.9rem;
            margin: 0 0 1.5rem;}

.section2 h2 {font-weight: 100;
    font-size: 2rem;
    margin: 0 0 1rem;}

.section2 .flexsection p { color: white;
                    font-weight: lighter;
}

.section2 .flexsection h3 { font-weight: normal;
}

.box.person { margin: 0 0 2rem;
            padding: 2rem 1.5rem;
            border: 0.01rem solid rgb(207, 202, 202);
            }

.box.person img { border-radius: 50%;
                    /* width: 45%; */
                    margin: 0 0 1rem;
                    max-width: 10.5rem;} 

.section3 h2 {font-size: 2rem;
            font-weight: 100;
            margin-bottom: 1rem;}

.section3 h3 { font-size: 1.3rem;
                font-weight: normal;
                margin-bottom: 1.3rem;

}
.section3 header p {font-size: 0.9rem;}

.section-align p {font-size: 1rem;}
.section3 img {width: 100%;
                margin-bottom: 2rem;
        }

.article {margin-bottom: 2rem;}

.copyright { margin: auto;
            width: 90%;
            padding: 2rem 0rem 1rem 0rem;
            border-top: 0.05rem solid rgb(153, 149, 149);
            font-size: 0.8rem;
            text-align: center;
            color: rgb(207, 202, 202);
}
.copyright a { text-decoration: none;
    color: rgb(207, 202, 202);}

a:hover {color: black;}
@media screen and (min-width: 481px) {
    #firstheader { position: absolute;
        padding: 3rem 1.5rem;
}
    #secondheader {height: 21.3rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;}
    .section-align h3 { text-align: left;}
    .section-align p { text-align: left;}
    .button {width: 5.5rem;}
    .flexsection {margin: auto;
        }
    .flexinner {display: flex;
        flex-wrap: wrap;
        justify-content: space-between;}

    .box.person { width: calc((100% - 3rem) / 2);}
    .box.person img {width: 90%;}
}

@media screen and (min-width: 737px) {
    #firstheader { position: absolute;
        padding: 4rem 1.5rem;
}
    #secondheader {height: 27.2rem;}
    #secondheader h1 {font-size: 3.5rem;}
    #secondheader p { font-size: 1rem;}
    .section2 h2 {font-size: 2.8rem;}
    .section2 .flexsection p {font-size: 1rem;
                            margin-bottom: 3rem;}
    .copyright {text-align: left;}
    .section3 h2 {font-size: 2.8rem;}
    .section3 header p {font-size: 1rem;}
}

@media screen and (min-width: 981px) {

    .section1flex {display: flex; 
                    justify-content: center;
                    padding: 5.5rem 0rem;
                    width: 100%;}

    .section-align {display: flex;
                   justify-content: space-between;
            }

    .line { padding: 0;
                margin: 0;
                width: calc(95%  / 3);
                padding: 0rem 2rem;
                font-size: 0.9rem;}
    .line h3 {font-size: 1.2rem;}
    
    .withborder {border-bottom: none;
                border-right: 0.05rem solid rgb(153, 149, 149);
                }
    .button {width: 5rem;}


    nav {display: flex;
        width: 100%;
        justify-content: flex-end;} 
    
    nav a { color: white;
            text-decoration: none;
            padding: 0.5rem;
            font-size: 0.7rem;}
    
    
    #firstheader > .logo {padding: 0rem 0rem;
                        font-size: 0.9rem;}

    

    .flexinner { display: flex;
                flex-wrap: nowrap;}

    .box.person { width: calc((100% - 8rem) / 4);}
    .box.person img {width: 100%;}

    .section2 h2 {font-size: 2.5rem;}
    .section2 .flexsection p {font-size: 0.9rem;
                            margin-bottom: 3rem;}
    .section3 h2 {font-size: 2.5rem;}
    .section3 header p {font-size: 0.9rem;}
    .section-align p {font-size: 0.9rem;}

    .flexarticle { width: calc((100% - 3rem) / 2);
    }

    .section3 { padding-top: 3.5rem;}
    
    
    #firstheader { margin: 0rem 3.1rem;
                padding: 5rem 0rem;
                display: flex;
                 }
    
    #header { display: flex;
            flex-direction: column;} 
    
}

@media screen and (min-width: 1285px) {

    .section { width: 80%;}
    
    #firstheader { width: 70%;
        margin: 0rem 12rem;
        padding: 5rem 0rem;
 }

}

