
html { height: 100%;}

body {width: 100%;
      background-color: white;
      color:rgb(153, 149, 149);
      font-family:sans-serif;
      margin: 0px;}

.header-1 { width: 100%;
        background-color: #5385c1;

}

.theory { display: flex;
            margin: 0px 20px;
            justify-content: space-between;
            padding: 10px;
            color: white;
            }

.nav { display: none;}

.section-header-container { display: flex;
                            flex-direction: column;
                            margin: 0px 40px;
                            text-align: center;
                            width: 400px;
}

.header-2 h2 {margin-bottom: 16px;
                }
.header-2 p { margin-top: 0px;}

p { text-align: center;
    line-height: 30px;
    }

.content { display: flex;
            flex-direction: column;}

h2, h3, h4, h5, h6 { color: rgb(44, 125, 175);
        font-weight: normal;
        text-align: center;
 }

.line {margin: 0px 40px;
        border-color: rgb(153, 149, 149);}

.row2 { 
    margin: 0px 40px;
    text-align: center;
    width: 400px;
}

dt { font-weight: bold;
}

blockquote { line-height: 30px;
    font-style: italic;
    border-left: solid rgb(153, 149, 149);
    border-width: 5px;
    margin: 0px 0px 30px 0px;
    padding-left: 50px;
   
}
.buttons {margin: auto;
            
}
.buttons li { list-style-type: none;
            
}

.button { text-decoration: none;

}


li a  { display: block;
          margin-bottom: 10px; 
               
         }

ul {margin-bottom: 20px;

    }

.button.special { background-color: #5385c1;
                color: white;
                padding: 10px 0px;
}

.button { background-color: gray;
            color: white;
            padding: 10px 0px;}

.button.alt {background-color: white;
            color: black;
            border: solid rgb(153, 149, 149);
            padding: 10px 0px;}

.button.special.big {background-color: #5385c1;
    color: white;
    padding: 30px 0px;
    font-size: 20px;
}

.button.alt.small {background-color: white;
    color: black;
    border: solid rgb(153, 149, 149);
    padding: 0px 0px;
    font-size: 15px;}

.actions.fit {display: flex;
            flex-direction: row;
             justify-content: space-between;
            }

.actions.fit li {
            width: calc((100% - 20px) / 3);}


.button.special.fit { background-color: #5385c1;
                color: white;
                         
}

.button.fit { background-color: gray;
    color: white;
        
    }

.button.alt.fit {background-color: white;
            color: black;
            border: solid rgb(153, 149, 149);
              padding: 10px 0px 5px 0px;  
            }

.button.special.fit.small { background-color: #5385c1;
                color: white;
                  padding: 5px;
                  font-size: 15px;       
}

.button.fit.small { background-color: gray;
    color: white;
    padding: 5px;
    font-size: 15px;        
    }

.button.alt.fit.small {background-color: white;
            color: black;
            border: solid rgb(153, 149, 149);
            padding: 5px;
            font-size: 15px; 
            }


li span {display: block;
        margin-bottom: 20px;}

.button.special.disabled { background-color: rgb(230, 223, 223);
                color: white;
                padding: 10px 0px;
                
}

.button.disabled { background-color: rgb(230, 223, 223);
            color: white;
            padding: 10px 0px;}

.button.alt.disabled {background-color: rgb(230, 223, 223);
            color: white;
            border: none;
            padding: 10px 0px;}

p span img {width: 35%;
}
.left img {float: left;
    margin: 10px 20px 20px 10px;  }
.right img {float: right;
    margin: 10px 20px 20px 10px; }

.box { border: solid  rgb(153, 149, 149);
        border-width: 1px;
        padding: 24px;
        margin-bottom: 32px;
 
}

.footer {padding-top: 12px;
        margin: 0px 36px 25px 36px;
        border-top: solid rgb(153, 149, 149);
        text-align: center;
        font-size: 10px;
        }




@media screen and (min-width: 480px){

    .section-header-container {text-align: start;} 
}